@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap");
@import url("https://use.typekit.net/jtk4rjv.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.hexagon {
    
    clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    -webkit-clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    object-fit: cover;
  }
  


